@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');

h1 {
	font-family: Mochiy Pop P One, sans-serif;
	font-size: 3vh;
	line-height: 10vh;
	margin: 1vh 0;
	padding: 1vh 5vw;
}

nav {
	position: fixed;
	z-index: 3;
	/*top: 10px;
	left: 10px;*/
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: Poppins, sans-serif;
	font-size: 2vh;
	line-height: 3vh;
}
